<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.mapper.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzh.pojo.Company">
        <id column="cid" property="cid" />
        <result column="cpwd" property="cpwd" />
        <result column="cname" property="cname" />
        <result column="cphone" property="cphone" />
        <result column="ceo" property="ceo" />
        <result column="cmail" property="cmail" />
        <result column="starttime" property="starttime" />
        <result column="status" property="status" />
        <result column="ordernumber" property="ordernumber" />
    </resultMap>

</mapper>
