.juzhong{
    width: 1200px;
    margin: 0 auto;
}
.nav_login{
    background-color: #f5f5f5;
    width: 100%;
    height: 44px;
}
.nav_login p{
    color: #666666;
    font-size: 14px;
    float: left;
    line-height: 44px
}
.p_login a{
    color: #666666;
}
.nav_login .p_login{
    float: right;
}
.nav_logo{
    background-color: white;
    width: 100%;
    height: 105px;
}
.nav_logo img{
    float: left;
}

.nav_img img{
    width: 100%;
}
.nav_label{
    background-color: #c28f47;
    height: 80px;
}
.nav_label li{
    width: 170px;
    margin: 0 65px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: white;
    float: left;
    margin-top: 10px;
}
.nav_label a{
    color: white;
}
.nav_label li:hover{
    background-color: #98661f;
    border-radius: 10px;
}
.active{
    background-color: #98661f;
    border-radius: 10px;
}
/* 主持人选择列表开始 */

.list_select{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto
}
.anchor_from{
    width:1198px;
    height:326px;
    border:1px solid rgba(242, 218, 180, 1);
    padding: 22px;
    box-sizing: border-box;
}
.anchor_from>div{
    width: 100%;
}
.anchor_top{
    text-align: left;
    color: #666666;
    height: 56px;
    border-bottom: 1px solid #F2DAB4;
}
.anchor_top span{
    margin-right: 22px;
    margin-left: 15px;
    font-size: 14px;
}
.select_date{
    width:272px;
    height:37px;
    margin-right: 22px;
}
.anchor_cont{
    width:100%;
    height:170px;
}
.anchor_cont div{
    border-bottom: 1px solid #F2DAB4;
    height: 56px;
}
.cont_top span{
    line-height: 56px;
    float: left;
    margin-right: 50px;
}
.cont_top span a{
    font-weight: 500;
}
.dianli{
    margin-left: 15px;
    color: #666666;
    float: left;
}
.cont_top span:first-child{
    margin-right: 25px;
}
.cont_top span:nth-child(3) a{
    color: #cba16a;
}
.anchor_bottom{
    height: 75px;
    line-height: 75px;
    text-align: left;
}
.anchor_bottom span{
    margin-left: 15px;
    color: #666666;
}
.sousuo{
    border: 1px solid #dddddd;
    width:412px;
    height:37px;
    padding: 0 10px;
}
.btn_left{
    margin-left: 18px;
    width:135px;
    height:37px;
    background: #C28F47;
    font-size: 16px;
    color: #fff;
}
.btn_right{
    margin-left: 18px;
    width:140px;
    height:37px;
    background:rgba(249,249,249,1);
    border:1px solid rgba(221,221,221,1);
    border-radius:3px;
    font-size: 16px;
    color: #555555;
}
.jibie{
    margin-left: 0;
}

/* 主持人选择列表结束*/





.hot_content{
    width: 1200px;
}
.hot_content ul{
    margin-right: -25px
}
.hot_content li{
    width: 220px;
    height: 300px;

    margin-right: 25px;
    margin-bottom: 30px;
    float: left;
    position: relative;
}
.hot_content_dec{
    height: 40px;
    background-color: rgba(0, 0,0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}
.hot_content_name{
    width: 60px;
    height:40px;
    float: left;
    line-height: 40px;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
}
.hot_content_price{
    width: 150px;
    height:40px;
    float: left;
    text-align: right;
    line-height: 40px;
    color: white;
}

.hot_content_img img{
    width: 100%;

}
.tuijian{
    position: absolute;
    top: 0;
    left: 0;
}



.list_box{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.list_box_titel{
    width: 100%;
    height: 50px;
    background-color: #FAF4E8;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #F3DCB9;
    box-sizing: border-box
}

.list_box_titel p {

    height: 50px;
    line-height: 50px;
    float: left;
}
.list_box_dec{
    font-size: 20px;
    color:#C28F47;
}
.list_box_price{
    font-weight: 500;
}
.list_box_titel div{
    height: 25px;
    width: 10px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    float: left;
    background-color: #C28F47;
    border-radius: 35%;
    margin-right: 10px;
    margin-left: 15px;

}







/* 底部开始 */
.footer{
    width: 100%;
    height: 176px;
    background: #222;
}
.footer_warp{
    width: 1200px;
    margin: 0 auto;
}
.footer_left{
    float: left;
    padding-top: 45px;
    text-align: left;
}
.footer_left_top{
    color: #d4d4d4;
    margin-bottom: 18px;
    font-size: 18px;
}
.footer_left_content{
    color: #d4d4d4;
    margin-bottom: 24px;
    font-size: 18px;
}
.footer_left_bottom{
    color: #aaaaaa;
    font-size: 14px;
}
.footer_right{
    float: right;
}
.QR_left{
    float: left;
    margin-top: 28px;
    position: relative;
    margin-left: 32px;
}
.QR_left p{
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.QR_left_img{
    position: absolute;
    top: 3px;
    left: 3px;
}
/* 固定定位导航样式开始 */
.QR_right_top{
    position: fixed;
    bottom:180px;
    right: 0;
    width: 56px;
    height: 56px;
    background: #C28F47;
}
.QR_right_top>img{
    margin: 19px;
}
.QR_right_bottom{
    position: fixed;
    bottom:124px;
    right: 0;
    width: 56px;
    height: 56px;
    background: #000;
}
.QR_right_bottom>img{
    margin: 19px;
}
.QR_right_top:hover .QR_box{
    display: block;
}
.QR_box{
    display: none
}
.QR_box_content{
    width:150px;
    height:199px;
    border:1px solid rgba(216, 216, 216, 1);
    position: absolute;
    top:0px;
    right: 70px;
    background: #fff;
}
.QR_box_triangle{
    position: absolute;
    top: 20px;
    right:61.5px ;
}
.QR_box_content img{
    margin: 12px 11px 60px 12px;
    position: relative;
}
.QR_box_content_font{
    position: absolute;
    right: 18px;
    bottom: 14px;
    width: 110px;
    height: 34px;
    color: #333333;
    font-size: 14px;
}
.hot_content_img >img{
    width: 220px;
    height: 300px;
}
